.cards__item {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: white;
  border-radius: 10px;
  object-fit: cover;
  position: relative;
  transition: 0.8s;
}

.cards__item:hover {
  transform: scale(1.03);
}