.popup__picture {
  width: 100%;
  object-fit: cover;
  object-position: center;
  max-height: 299px;
}

@media screen and (min-width: 576px) {
  .popup__picture {
    max-width: 75vw;
    max-height: 75vh;
  }
}