.popup__container {
  background-color: white;
  border-radius: 10px;
  width: calc(100% - 44px);
  position: relative;
  margin: 0;
  padding: 0 22px;
  max-width: calc(430px - 72px);
}

@media screen and (min-width: 390px) {
  .popup__container {
    padding: 0 36px;
  }
}

@media screen and (min-width: 768px) {
  .popup__container {
    bottom: 50px;
  }
}